@{
    ViewBag.Title = "Products";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Olcha.uz Products</title>
</head>
<body>
    <h1>Products Table</h1>
    <div id="ProductsTable"></div>

    <script src="~/Scripts/Products.js" type="text/babel">
    </script>
    @*Everything is there*@
</body>
</html>




